%centeredText {
	text-align: center;
}

.hidden {
	display: none;
	overflow: hidden;
	opacity: 0;
}

.tabContainer {
	width: fit-content;
	margin: 5% auto 0;
}

.board {
	width: 90%;
	margin: 5% auto;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
}

.adaptiveCard {
	cursor: pointer;
	position: relative;
	margin: 2.5%;
	padding: 5%;
	overflow: hidden;
	flex: 1 1 auto;
	max-width: 350px;

	&  .status {
		color: #ADADAD;
		margin: 2.5% 0 10%;
	}

}

.dialogWindow {

	& .dialogTitle {
		@extend %centeredText;
	}

	& .prettyJSON {
		padding: 5%;
	}

}
