#mainNav {
	background-color: #FFF;
	text-align: center;
	margin: 5% 0;
	color: #EEE;
}

.searchContainer {

	width: 80%;
	margin: auto;

	& :global(.MuiInputLabel-root) {
		color: #999;
	}

	 & :global(.MuiInputLabel-root.Mui-focused) {
		color: #D10C15;
	}

}
