#mainNav {
	padding: 50px 0;
	color: #EEE;
	background-color: #AAD8FF;//#6BBAFD;//#A9D3EC;
}

.searchContainer {

	width: 80%;
	margin: auto;

	& :global(.MuiInputLabel-root) {
		color: #111;
	}

	& :global(.MuiOutlinedInput-notchedOutline) {
		border-color: #111;
	}

	 & :global(.MuiInputLabel-root.Mui-focused) {
		color: #D10C15;
	}

}
